//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// http://www.apache.org/licenses/LICENSE-2.0
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// Code generated by Microsoft (R) AutoRest Code Generator.Changes may cause incorrect behavior and will be lost if the code
// is regenerated.
// DO NOT EDIT.

package identity

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

type CommunicationIdentityClient struct {
	endpoint string
	pl runtime.Pipeline
}

// NewCommunicationIdentityClient creates a new instance of CommunicationIdentityClient with the specified values.
//   - endpoint - The communication resource, for example https://my-resource.communication.azure.com
//   - pl - the pipeline used for sending requests and handling responses.
func NewCommunicationIdentityClient(endpoint string, pl runtime.Pipeline) *CommunicationIdentityClient {
	client := &CommunicationIdentityClient{
		endpoint: endpoint,
		pl: pl,
	}
	return client
}

// Create - Create a new identity, and optionally, an access token.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-10-01
//   - options - CommunicationIdentityClientCreateOptions contains the optional parameters for the CommunicationIdentityClient.Create
//     method.
func (client *CommunicationIdentityClient) Create(ctx context.Context, options *CommunicationIdentityClientCreateOptions) (CommunicationIdentityClientCreateResponse, error) {
	req, err := client.createCreateRequest(ctx, options)
	if err != nil {
		return CommunicationIdentityClientCreateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CommunicationIdentityClientCreateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusCreated) {
		return CommunicationIdentityClientCreateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createHandleResponse(resp)
}

// createCreateRequest creates the Create request.
func (client *CommunicationIdentityClient) createCreateRequest(ctx context.Context, options *CommunicationIdentityClientCreateOptions) (*policy.Request, error) {
	urlPath := "/identities"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-10-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.Body != nil {
		return req, runtime.MarshalAsJSON(req, *options.Body)
	}
	return req, nil
}

// createHandleResponse handles the Create response.
func (client *CommunicationIdentityClient) createHandleResponse(resp *http.Response) (CommunicationIdentityClientCreateResponse, error) {
	result := CommunicationIdentityClientCreateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CommunicationIdentityAccessTokenResult); err != nil {
		return CommunicationIdentityClientCreateResponse{}, err
	}
	return result, nil
}

// Delete - Delete the identity, revoke all tokens for the identity and delete all associated data.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-10-01
//   - id - Identifier of the identity to be deleted.
//   - options - CommunicationIdentityClientDeleteOptions contains the optional parameters for the CommunicationIdentityClient.Delete
//     method.
func (client *CommunicationIdentityClient) Delete(ctx context.Context, id string, options *CommunicationIdentityClientDeleteOptions) (CommunicationIdentityClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, id, options)
	if err != nil {
		return CommunicationIdentityClientDeleteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CommunicationIdentityClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusNoContent) {
		return CommunicationIdentityClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return CommunicationIdentityClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *CommunicationIdentityClient) deleteCreateRequest(ctx context.Context, id string, options *CommunicationIdentityClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/identities/{id}"
	if id == "" {
		return nil, errors.New("parameter id cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{id}", url.PathEscape(id))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-10-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// ExchangeTeamsUserAccessToken - Exchange an Azure Active Directory (Azure AD) access token of a Teams user for a new Communication
// Identity access token with a matching expiration time.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-10-01
//   - body - Request payload for the token exchange.
//   - options - CommunicationIdentityClientExchangeTeamsUserAccessTokenOptions contains the optional parameters for the CommunicationIdentityClient.ExchangeTeamsUserAccessToken
//     method.
func (client *CommunicationIdentityClient) ExchangeTeamsUserAccessToken(ctx context.Context, body TeamsUserExchangeTokenRequest, options *CommunicationIdentityClientExchangeTeamsUserAccessTokenOptions) (CommunicationIdentityClientExchangeTeamsUserAccessTokenResponse, error) {
	req, err := client.exchangeTeamsUserAccessTokenCreateRequest(ctx, body, options)
	if err != nil {
		return CommunicationIdentityClientExchangeTeamsUserAccessTokenResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CommunicationIdentityClientExchangeTeamsUserAccessTokenResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return CommunicationIdentityClientExchangeTeamsUserAccessTokenResponse{}, runtime.NewResponseError(resp)
	}
	return client.exchangeTeamsUserAccessTokenHandleResponse(resp)
}

// exchangeTeamsUserAccessTokenCreateRequest creates the ExchangeTeamsUserAccessToken request.
func (client *CommunicationIdentityClient) exchangeTeamsUserAccessTokenCreateRequest(ctx context.Context, body TeamsUserExchangeTokenRequest, options *CommunicationIdentityClientExchangeTeamsUserAccessTokenOptions) (*policy.Request, error) {
	urlPath := "/teamsUser/:exchangeAccessToken"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-10-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// exchangeTeamsUserAccessTokenHandleResponse handles the ExchangeTeamsUserAccessToken response.
func (client *CommunicationIdentityClient) exchangeTeamsUserAccessTokenHandleResponse(resp *http.Response) (CommunicationIdentityClientExchangeTeamsUserAccessTokenResponse, error) {
	result := CommunicationIdentityClientExchangeTeamsUserAccessTokenResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CommunicationIdentityAccessToken); err != nil {
		return CommunicationIdentityClientExchangeTeamsUserAccessTokenResponse{}, err
	}
	return result, nil
}

// IssueAccessToken - Issue a new token for an identity.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-10-01
//   - id - Identifier of the identity to issue token for.
//   - body - Requested scopes for the new token.
//   - options - CommunicationIdentityClientIssueAccessTokenOptions contains the optional parameters for the CommunicationIdentityClient.IssueAccessToken
//     method.
func (client *CommunicationIdentityClient) IssueAccessToken(ctx context.Context, id string, body CommunicationIdentityAccessTokenRequest, options *CommunicationIdentityClientIssueAccessTokenOptions) (CommunicationIdentityClientIssueAccessTokenResponse, error) {
	req, err := client.issueAccessTokenCreateRequest(ctx, id, body, options)
	if err != nil {
		return CommunicationIdentityClientIssueAccessTokenResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CommunicationIdentityClientIssueAccessTokenResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return CommunicationIdentityClientIssueAccessTokenResponse{}, runtime.NewResponseError(resp)
	}
	return client.issueAccessTokenHandleResponse(resp)
}

// issueAccessTokenCreateRequest creates the IssueAccessToken request.
func (client *CommunicationIdentityClient) issueAccessTokenCreateRequest(ctx context.Context, id string, body CommunicationIdentityAccessTokenRequest, options *CommunicationIdentityClientIssueAccessTokenOptions) (*policy.Request, error) {
	urlPath := "/identities/{id}/:issueAccessToken"
	if id == "" {
		return nil, errors.New("parameter id cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{id}", url.PathEscape(id))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-10-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// issueAccessTokenHandleResponse handles the IssueAccessToken response.
func (client *CommunicationIdentityClient) issueAccessTokenHandleResponse(resp *http.Response) (CommunicationIdentityClientIssueAccessTokenResponse, error) {
	result := CommunicationIdentityClientIssueAccessTokenResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CommunicationIdentityAccessToken); err != nil {
		return CommunicationIdentityClientIssueAccessTokenResponse{}, err
	}
	return result, nil
}

// RevokeAccessTokens - Revoke all access tokens for the specific identity.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-10-01
//   - id - Identifier of the identity.
//   - options - CommunicationIdentityClientRevokeAccessTokensOptions contains the optional parameters for the CommunicationIdentityClient.RevokeAccessTokens
//     method.
func (client *CommunicationIdentityClient) RevokeAccessTokens(ctx context.Context, id string, options *CommunicationIdentityClientRevokeAccessTokensOptions) (CommunicationIdentityClientRevokeAccessTokensResponse, error) {
	req, err := client.revokeAccessTokensCreateRequest(ctx, id, options)
	if err != nil {
		return CommunicationIdentityClientRevokeAccessTokensResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CommunicationIdentityClientRevokeAccessTokensResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusNoContent) {
		return CommunicationIdentityClientRevokeAccessTokensResponse{}, runtime.NewResponseError(resp)
	}
	return CommunicationIdentityClientRevokeAccessTokensResponse{}, nil
}

// revokeAccessTokensCreateRequest creates the RevokeAccessTokens request.
func (client *CommunicationIdentityClient) revokeAccessTokensCreateRequest(ctx context.Context, id string, options *CommunicationIdentityClientRevokeAccessTokensOptions) (*policy.Request, error) {
	urlPath := "/identities/{id}/:revokeAccessTokens"
	if id == "" {
		return nil, errors.New("parameter id cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{id}", url.PathEscape(id))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-10-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

